/.vs/PCJack/v14
/packages
/packages
/.vs/PCJack/v14/.suo
/PCJack/PCJack/bin/Debug
*.user
/PCJack/PCJack/obj
/PCJack/PCJack.Android
/PCJack.Views/obj
/PCJack.Views/bin/Debug
/PCJack.ViewModels/bin/Debug
/PCJack.Model/bin/Debug
/PCJack.Interfaces/bin/Debug
/PCJack/PCJack.iOS/obj/iPhone/Debug
/PCJack.Common/bin/Debug
/PCJack.ConnectionService/bin/Debug
/PCJack.ConnectionService/obj/Debug/TempPE
/PCJack.Model/obj/Debug
/PCJack.ViewModels/obj
/PCJack.IoC/bin/Debug
*.cache
*.dll
*.pdb
*.txt
/PCJack.IoC/obj/Debug
/PCJack.IoC/obj/Release
/PCJack.Interfaces/obj
/PCJack.Controllers/bin/Debug
/PCJack.Controllers/obj/Debug
/PCJack.Controllers/obj/Release
/PCJack.ConnectionService/obj/Debug
